<!doctype html>
<html>
<head>  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">     
         <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/veneto-admin.min.css">
        <link rel="stylesheet" href="/demo/css/demo.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css"/>
        <link rel="stylesheet" href="/assets/css/plugins/rickshaw.min.css">
        <link rel="stylesheet" href="/assets/css/plugins/morris.min.css">	


<style type="text/css">body {
	width: 75%;
	height: 100%;
	margin: 0 auto;
    padding: 0 auto;
    background: url(http://awsassets.wwf.es/img/original_ww222125_79809.jpg) no-repeat center top;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>



</head>


<body class=""  background="http://awsassets.wwf.es/img/original_ww222125_79809.jpg">
        
    <div class="page-content">
           
			<div class="container-fluid-md">
				<div class="row">
					<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
						<form class="form-horizontal" novalidate>
							<div class="panel panel-success panel-clean">
								<div class="panel-heading">
									<h4 class="panel-title"><b>Detalle:</b> Concesion</h4>

									<div class="panel-options">
										
										<a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
										
									</div>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="control-label col-sm-4">Departamento <span class="asterisk">:</span></label>

										<div class="col-sm-8">
											<input class="form-control" name="username" required  value="Apurimac" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4">Distrito <span class="asterisk">:</span></label>

										<div class="col-sm-8">
											<input class="form-control" name="username" required value="Rio Grande" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4">Provincia <span class="asterisk">:</span></label>

										<div class="col-sm-8">
											<input class="form-control" name="username" required value="Villa Hermosa" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4">Referencia <span class="asterisk">:</span></label>

										<div class="col-sm-8">
											<input class="form-control" name="username" required value="Valle Tambopata" readonly="readonly">
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<div class="form-group">
										<div class="col-sm-offset-4 col-sm-8">
											<center> 
												<button type="submit" class="btn btn-flat btn-inverse btn btn-flat btn-white">
													&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRealizar Petitorio&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
												</button>
												
												<button type="submit" class="btn btn-flat btn-inverse btn btn-flat btn-white" onclick="window.close();">
													&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSalir&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
												</button>
											</center>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

            </div>
        
        <!-- ================================================================================ -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/bs3/js/bootstrap.min.js"></script>
        <script src="/assets/plugins/jquery-navgoco/jquery.navgoco.js"></script>
        <script src="/js/main.js"></script>
        <script src="/assets/plugins/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="/demo/js/demo.js"></script>
        <script src="/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/assets/plugins/jquery-jvectormap/maps/world_mill_en.js"></script>
        <script src="/assets/plugins/rickshaw/js/vendor/d3.v3.js"></script>
        <script src="/assets/plugins/rickshaw/rickshaw.min.js"></script> 
        <script src="/assets/plugins/flot/jquery.flot.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.resize.js"></script>
        <script src="/assets/plugins/raphael/raphael-min.js"></script>
        <script src="/assets/plugins/morris/morris.min.js"></script>
        <script src="/demo/js/dashboard.js"></script>

    </body>
</html>
